@model Badge.EF.Entity.Person

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Person</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="IdPerson" />
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cognome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cognome)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <a asp-action="Delete" asp-route-id="@Model.IdPerson">

            <button type="submit" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Delete">

                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </a>


            <a asp-action="Index">
                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Back to List">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                </button>
            </a>

</div>
    </form>
</div>

@section Scripts{
    <script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
    </script>
}


