@using Badge.Web.Models.Shared
@using Badge.Web.Models.People

@model PaginationViewModel<PeopleViewModel>

@{
    ViewData["Title"] = "Persone";
}

<h2>@ViewData["Title"]</h2>
<a asp-action="Create">

    <a asp-action="Create" class="btn-floating btn-large waves-effect waves-light #26a69" data-position="bottom" data-delay="50" data-tooltip="Create New"><i class="material-icons">add</i></a>
   
</a>
    <table class="table table-hover ">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Data.First().Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data.First().Cognome)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cognome)
                    </td>
                    <td>

                        <div class="btn-group" role="group" aria-label="...">

                            
                            
                            <a asp-action="Edit" asp-route-id="@item.IdPerson">
                                <button class="btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="Edit">
                                    <i class="material-icons">border_color</i>
                                </button>
                            </a>

                            <a asp-action="Details" asp-route-id="@item.IdPerson">
                                <button class="btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="Details">
                                    <i class="large material-icons">pageview</i>
                                </button>
                            </a>

                            <a asp-action="Delete" asp-route-id="@item.IdPerson">
                                <button class="btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="Delete">
                                    <i class="large material-icons">delete</i>
                                </button>
                            </a>

                        </div>
                    </td>

                </tr>
            }
        </tbody>
    </table>

        <ul class="pagination">
      
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>

            @for (int i = 0; i < (Model.Count / 10) + 1; i++)
            {
                @if (Model.Skip / 10 == i)
                {
                    <li class="active"><a asp-controller="People" asp-action="Index" asp-route-skip="@(i * 10)" asp-route-take="10">@(i + 1)</a></li>
                }
                else
                {
                    <li><a asp-controller="People" asp-action="Index" asp-route-skip="@(i * 10)" asp-route-take="10">@(i + 1)</a></li>
                }
            }
            <li>

            <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            
        </ul>
  

@section Scripts{
    <script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
    </script>
}
