@using Badge.Web.Models.Shared
@using Badge.Web.Models.People

@model PaginationViewModel<PeopleViewModel>

@{
    ViewData["Title"] = "Persone";
}

<h2>@ViewData["Title"]</h2>
<a asp-action="Create">

    <a asp-action="Create" class="btn-floating btn-large waves-effect waves-light #26a69" data-position="bottom" data-delay="50" data-tooltip="Create New"><i class="material-icons">add</i></a>

</a>
@*<table class="table table-hover ">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Data.First().Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data.First().Cognome)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>


            @foreach (var item in Model.Data)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cognome)
                    </td>
                    <td>

                        <div class="btn-group" role="group" aria-label="...">
                                <a href="#!" class="collection-item"><span class="new badge" data-badge-caption="badge"> @item.CountBadge</span> </a>

                                <a asp-action="Edit" asp-route-id="@item.IdPerson">
                                    <button class="btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="Edit">
                                        <i class="material-icons">border_color</i>
                                    </button>
                                </a>

                                <a asp-action="Details" asp-route-id="@item.IdPerson">
                                    <button class="btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="Details">
                                        <i class="large material-icons">pageview</i>
                                    </button>
                                </a>

                                <a asp-action="Delete" asp-route-id="@item.IdPerson">
                                    <button class="btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="Delete">
                                        <i class="large material-icons">delete</i>
                                    </button>
                                </a>

                            </div>
                    </td>

                </tr>
            }
        </tbody>
    </table>*@
<div>
    <br />
</div>


@for (int i = 0; i < Model.Data.Count; i++)
{
    PeopleViewModel item = Model.Data.ElementAt(i);
    @if(i + 1 % 3 == 0 || i == 0){
        <text><div class="row"></text>
    }
    <div class="col s4">
        <div class="card sticky-action">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="~/images/figurina1.jpg">
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="col s10">
                        <span class="card-title activator grey-text text-darken-4">
                            @if (item.Nome.Length + item.Cognome.Length > 23)
                            {
                                string tot = item.Nome + " " + item.Cognome;
                                @(tot.Substring(0,21) + "\n"+(tot.Substring(22, (tot.Length) - 22)))
                                
                            }
                            else
                            {
                                @(item.Nome + " " + item.Cognome)<i class="material-icons right"></i>
                            }
                            
                        </span>
                    </div>
                    <div class="col s2">
                        <div style="position: relative; height: 70px;">
                            <div class="fixed-action-btn" style="position: absolute; right: 24px;">
                                <a class="btn-floating btn-large red">
                                    <i class="large material-icons">mode_edit</i>
                                </a>
                                <ul>
                                    <li>  <a asp-action="Delete" asp-route-id="@item.IdPerson">
                                        <botton class="btn-floating red" data-position="bottom" data-delay="50" data-tooltip="Delete">
                                        <i class="material-icons">
                                            delete
                                            </i>
                                            </botton>
                                          </a>
                                    </li>
                                    <li>
                                        <a asp-action="Details" asp-route-id="@item.IdPerson">
                                            <botton class="btn-floating red" data-position="bottom" data-delay="50" data-tooltip="Details">
                                                <i class="material-icons">
                                                    pageview
                                                </i>
                                            </botton>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-action="Edit" asp-route-id="@item.IdPerson">
                                            <botton class="btn-floating red" data-position="bottom" data-delay="50" data-tooltip="Details">
                                                <i class="material-icons">
                                                    border_color
                                                </i>
                                            </botton>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <p>@item.Professione</p>
            </div>
            <div class="card-action">
                <a href="#">Badges</a>
                <a href="#">Swipes</a>
            </div>
        </div>
    </div>

    @if (i+1  % 3 == 0 || i == Model.Data.Count)
    {
        @: </div>
    }
}


<ul class="pagination">

    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>



    @for (int i = 0; i < (Model.Count) + 1; i++)
    {


        @if (Model.Skip / 6 == i)
                {
            <li class="active"><a asp-controller="People" asp-action="Index" asp-route-skip="@(i * 6)" asp-route-take="6">@(i + 1)</a></li>
        }
        else
        {
            <li><a asp-controller="People" asp-action="Index" asp-route-skip="@(i * 6)" asp-route-take="6">@(i + 1)</a></li>
        }
    }
    <li>

    <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>

</ul>







@section Scripts{
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        })
    </script>
}
